<div class = "headings">
  <a href = "/projects/exterior" class = "project-link">
    <div class = "col-md-2">
      <blockquote><strong>exterior</strong></blockquote>
    </div>
  </a>
  <a href = "/projects/office" class = "project-link"><div class = "col-md-2"><blockquote><strong>office</strong></blockquote></div></a>
  <a href = "/projects/public_service" class = "project-link"><div class = "col-md-2"><blockquote><strong>public service</strong></blockquote></div></a>
  <a href = "/projects/residential" class = "project-link"><div class = "col-md-2"><blockquote><strong>residential</strong></blockquote></div></a>
  <a href = "/projects/physical_model" class = "project-link"><div class = "col-md-2"><blockquote><strong>physical model</strong></blockquote></div></a>
  <a href = "/projects/sketch" class = "project-link"><div class = "col-md-2"><blockquote><strong>sketch</strong></blockquote></div></a>
</div>


